name: flutter_funding_choices_example
description: Demonstrates how to use the flutter_funding_choices plugin.
publish_to: 'none'

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_funding_choices:
    path: ../

flutter:
  uses-material-design: true
